{% extends "base.html" %}

{% block content %}

<h2>Pulsars: Universal Time-Keepers</h2>
<p>
    Pulsars are an important aspect of the universe that we live in.  Pulsars are stars that rotate and shoot beams of powerful radiation from their poles.
    The reason they are called pulsars is because it looks as though the light coming from them is pulsing, or flashing, really fast.  The reason they are 
    important to scientists is because their period, or the duration and spacing of their pulse, is almost constant.  This means that they can be used as a
    measurement of time and, in the future, could also be used as important landmarks when mapping areas of space.
</p>

<h2>Finding Pulsars</h2>
<p>
    One of the things that makes pulsars useful as a landmark is that they are somewhat rare.  Finding them can be a challenge and usually involves
    looking over tons of data collected from telescopes in order to determine whether one of the twinkling dots in the sky happens to be one of these
    elusive treasures.  In the past, this often meant a lot of man-hours were poured into scouring through this data in order to discover the
    existance of a pulsar.  Now, it is possible using machine learning algorithms to determine with a high degree of accuracy whether or not the data 
    is representative of a pulsar or not. It is my intent to show you how this is done and to explain the process 
</p>

<h2>Key Aspects</h2>
<h4>Integrated Profile</h4>
<h4>DM-SNR Curve</h4>
<p>
    The DM-SNR curve, or dispersion measure signal to noise ratio curve, 
</p>

{% endblock %}